

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }

  .side-nav-container {
        flex-grow: 1;
  }

  a.sidenav-item-selected {
      background: rgba(63,81,181,.15);
      color: #673ab7;
  }

  .mat-sidenav-content {
    box-sizing: border-box;
    padding: 20px 50px;
  }
  
  @media only screen and (max-width: 600px) {
    .mat-sidenav-content {
        padding: 5px 0 0;
    }
  } 