.todo-list-container {
   
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height:100%;
    box-sizing: border-box;
}

.todo-list {
    flex: 1 1 auto;
    overflow: auto;
}


.add-item {
    padding-top: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
.mat-card {
    width:100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 0;

}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
}
mat-form-field {
    width: 100%;
  }
.save-button {
    align-self: flex-end;
}
.title-form-field {
    margin-top: 10px;
}

div.mat-line {
    white-space: normal !important;
    height: auto !important;
}

mat-list-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}
.item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.item-header {
    flex: 1 1 0;

    padding: 0 10px;
}
.item-title {
    flex: 1 0 0;
}